$lg-primary: #edf4ec;
$lg-darker: #121117;
$lg-lighter: white;
$lg-dark: #252c2f;
$lg-light-dark: #737373;
$lg-secondary: #048383;
$lg-secondary-light: #058383;
$lg-dark-blue: #21333e;
$lg-secondary-lighter: #cce3de;
$lg-semi-transparent: #c4cecd;
$lg-secondary-dark: #173338;